{% extends 'base.html.twig' %}
{% block body %}
    <h1>{%trans%}comment.Edition{%endtrans%}</h1>
    <h2>{{book.title}}</h2>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}