<div>
    <div style="float:left;">
        <form method="GET" id="language_search_form" name="language_search_form" action="{{ url('language_search_results') }}">
            <input type="text" name="keyword" id="keyword" value="{% trans %}searchKeyword{% endtrans %}">
            <input class="searchButton" type="submit" value="{% trans %}Search{% endtrans %}"/>
        </form>
    </div>
    {% if is_granted('ROLE_USER') %}
        <div class="subBarButtonsContainer"><a class="addButton" href="{{url('language_addition')}}">{% trans %}Add{% endtrans %}</a></div>
    {% endif %}
</div>
<div style="clear:both;"></div>
<hr>