{% extends 'base.html.twig' %}
{% block body %}
    <h1>{%trans%}note.Addition{%endtrans%}</h1>
    {% if book.title is defined %}
        <h2>{{book.title}}</h2>
    {% endif %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}