/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2 avr. 2016, 15:42:23
    Author     : Eric
*/

body {
    background-color: #C1E0FF;
}

.zf-green {
    color: #68b604;
}

.btn-success {
  background-color: #57a900;
  background-image: -moz-linear-gradient(top, #70d900, #57a900);
  background-image: -ms-linear-gradient(top, #70d900, #57a900);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
  background-image: -webkit-linear-gradient(top, #70d900, #57a900);
  background-image: -o-linear-gradient(top, #70d900, #57a900);
  background-image: linear-gradient(top, #70d900, #57a900);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #57a900;
}

.btn-success:active, .btn-success.active {
  background-color: #57a900;
}

div.container a.brand {
    margin-left: 0;
    padding: 8px 20px 12px 40px;
}

#mentions{
    height : 30px;
    line-height: 30px;
    width : 100%;
    background-color: #285e8e;
    color : white;
    text-align: center; 
}

#bandeau-footer{
    background: url("../img/bandeau_site.jpg");
    height : 118px;
}

#footer{
    position: fixed;
    bottom: 0px;
    width : 100%;
    height : 148px;
}

#conteneur_boxes {
    width: 100%;
}

.box_home {
    width: 300px;
    height: 150px;
    float: left;
    margin-left: 10%;
    margin-top: 20px;
    
    -moz-box-shadow: 0px 0px 5px 0px #656565;
    -webkit-box-shadow: 0px 0px 5px 0px #656565;
    -o-box-shadow: 0px 0px 5px 0px #656565;
    box-shadow: 0px 0px 5px 0px #656565;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=NaN, Strength=5);
    
    font-size: 12px;
    line-height: 12px;
    vertical-align: middle;
}

.title_box_home {
    width: 100%;
    height: 30px;
    font-size: 15pt;
    line-height: 30px;
    text-align: center;
    vertical-align: middle;
    color: white;
    
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#88bfe8+0,70b0e0+100;Blue+3D+%2317 */
    background: #88bfe8; /* Old browsers */
    background: -moz-linear-gradient(top,  #88bfe8 0%, #70b0e0 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #88bfe8 0%,#70b0e0 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #88bfe8 0%,#70b0e0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#88bfe8', endColorstr='#70b0e0',GradientType=0 ); /* IE6-9 */

}

.bookHomeTitle {
    font-style: italic;
    padding-left: 10px;
}

.widgetLine {
    margin-top: 10px;
}

.h1Home {
    font-size: 24px;
}

#search_form {
    display: none;
}

.currentPage{
    font-weight: bold;
    text-decoration: underline;
}

.searchButton {
    
    -moz-box-shadow: 1px 1px 5px 0px #656565;
    -webkit-box-shadow: 1px 1px 5px 0px #656565;
    -o-box-shadow: 1px 1px 5px 0px #656565;
    box-shadow: 1px 1px 5px 0px #656565;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=5);

}

.addButton {
    
    height: 25px;
    min-width: 80px;
    line-height: 25px;
    padding-left: 5px;
    padding-right: 5px;
    vertical-align: middle;
    text-align: center;
    border-radius: 0 5px 0 5px;
    display:block;
    margin-left: 15px;
    
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffaf4b+0,ff920a+100;Orange+3D+%231 */
    background: #ffaf4b; /* Old browsers */
    background: -moz-linear-gradient(top, #ffaf4b 0%, #ff920a 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffaf4b 0%,#ff920a 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffaf4b 0%,#ff920a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b', endColorstr='#ff920a',GradientType=0 ); /* IE6-9 */
    
    -moz-box-shadow: 1px 1px 5px 0px #656565;
    -webkit-box-shadow: 1px 1px 5px 0px #656565;
    -o-box-shadow: 1px 1px 5px 0px #656565;
    box-shadow: 1px 1px 5px 0px #656565;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=5);

}

.subBarButtonsContainer {
    float: left;
}

.subBarButtonsContainer a:link {color:black; text-decoration : none;}
.subBarButtonsContainer a:visited {color:black;}
.subBarButtonsContainer a:active {color:black;}
.subBarButtonsContainer a:hover {color:black; font-weight: bold;}

.editButton {
    
    height: 25px;
    min-width: 80px;
    line-height: 25px;
    padding-left: 5px;
    padding-right: 5px;
    vertical-align: middle;
    text-align: center;
    border-radius: 0 5px 0 5px;
    display:block;
    margin-left: 15px;
    
    background: green;
    
    -moz-box-shadow: 1px 1px 5px 0px #656565;
    -webkit-box-shadow: 1px 1px 5px 0px #656565;
    -o-box-shadow: 1px 1px 5px 0px #656565;
    box-shadow: 1px 1px 5px 0px #656565;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=5);

}

.editButtonsContainer a:link {color:white; text-decoration : none;}
.editButtonsContainer a:visited {color:white;}
.editButtonsContainer a:active {color:white;}
.editButtonsContainer a:hover {color:white; font-weight: bold;}

.deleteButton {
    
    height: 25px;
    min-width: 80px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    border-radius: 0 5px 0 5px;
    display:block;
    margin-left: 15px;
    color: white;
    background-color: red;
    
    -moz-box-shadow: 1px 1px 5px 0px #656565;
    -webkit-box-shadow: 1px 1px 5px 0px #656565;
    -o-box-shadow: 1px 1px 5px 0px #656565;
    box-shadow: 1px 1px 5px 0px #656565;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=5);

}

#searchFormContainer {
    display: none;
    margin-top: 10px;
    position: absolute;
}

#searchIcon {
    margin-top: 9px;
}

form input, textarea, select {
    margin-left: 10px;
}

form select[Multiple] {
    height: 20px;
}