{% extends 'home/lastBooksContainer.html.twig' %}
{% block bookContains %}
    {% for theBook in theBooks %}
        <p class="widgetLine"><span class="bookHomeTitle">
            {{theBook.shortTitle}}</span>, {% trans %}added.in{% endtrans %} 
            {{ theBook.additionDate.format('Y') }}
        </p>
    {% endfor %}
{% endblock %}