{% extends 'base.html.twig' %}
{% block body %}
    <h1>{%trans%}author.Edition{%endtrans%} '{{author.name}}'</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}